/*#leftmain {
   margin-top:2px;
   float: left;
   margin: 0px;
   padding:0px;
   text-align: left;
   width: 130px;

}*/


#leftmain table.moduletable th {
   background:url(/static/ps/images/ltitle2.gif) no-repeat;
   border:0;
   height:22px;
   font-family:Arial, Helvetica, sans-serif,Verdana;
   font-size:98%;
   color: #1F1869;
   text-align: left;
   text-indent: 10px;
   padding: 0px;
   margin: 0px;
   line-height:22px;
}

#leftmain table.moduletable td {
   font : normal 11px Arial, Verdana, sans-serif, Helvetica ;
   color: #333;
   text-align     : left;
   padding        : 2px 0px 2px 0px;
}


.body {
   background     : #ffffff;
   padding        : 0;
   margin         : 0;
   vertical-align : top;
}

td, div, p {
   font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:98%;
    color: #545C66;
   padding:0px;
   line-height:17px;
}



/* ******************************************* MODULES */
table.moduletable {
   width       : 130px;
   padding        : 0px;
   margin         : 0px 0px 0px 0px;
   border   : 0;
}

/* ******************************************* MAIN AND SUB MENU SYSTEM  */
.mainlevel {
   font     : bold 11px Arial, Verdana, Helvetica, sans-serif;
   line-height :22px;
}
a.mainlevel:link, a.mainlevel:visited {
   display        : block;
   background     : url(/static/ps/images/navi.gif) no-repeat;
   padding        : 0px 0px;
   height         : 22px;
   font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:104%;
   color       : #0062C4;
   text-decoration   : none;
   text-indent    : 22px;
   border         : 0px;
   line-height    : 22px;
}
a.mainlevel:hover {
   background     : url(/static/ps/images/hnavi.gif) no-repeat;
   color       : #000;
   text-decoration   : none;
   padding        : 0px 0px;
}

