 /* visual */
.menu_tabelas {
	padding-top:5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #1F1869;
	position:relative;
	left:-4px;
}


.menu_tabelas ul{
	position:relative;
	top:-21px;
	left:-28px;
  }


.menu_tabelas ul li{
	position : relative;
	float : left;
	background-color:#BCC2C9;
	margin-right: 4px;
	list-style-type: none;
	line-height: 20px;
  }



.menu_tabelas ul li a {
	background-color:#B0C4DE;
	color : #434387;
	display : block;
	float : none;
	font-family : Verdana;
	font-size : 14px;
	font-weight : bold;
	height : 20px;
	left : 0px;
	text-align : center;
	text-decoration : none;
	width : 110px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #1F1869;
	border-right-color: #1F1869;
	border-bottom-color: #1F1869;
	border-left-color: #1F1869;
	border-collapse:separate;
  }


.menu_tabelas a:hover {
     background-color : #CCC;
    /* border-style : inset; */
/*     color : white; */
  }

.menu_tabelas ul li a.selected{
	/*     color : white; */
    background-color :#EAEFF7;
	border-bottom-width:2px;
	border-bottom-color: #EAEFF7;
	line-height: 24px;
	z-index:3;

}

.vt{
	position:relative;
	top:-28px;
	left:-4px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-color: #1F1869;
	border-right-color: #1F1869;
	border-bottom-color: #1F1869;
	margin-top:10px;
}

